
<div class="row py-2">
  <div class="col titulo">
    Criar Evento <i class="fa fa-plus" aria-hidden="true"></i>
  </div>
</div>

<form [formGroup]="criarEventoForm" (ngSubmit)="onSubmit()">
    <div class="row align-items-center py-3">
      <div class="col-md-4">
          <label for="descricao" class="label">Descrição</label>
            <input type="text" class="form-control" id="descricao" formControlName="descricao" required />
            <span class="text-secondary text-danger" *ngIf="criarEventoForm.get('descricao')?.touched && criarEventoForm.get('descricao')?.invalid">Campo obrigatório</span>
        </div>

        <div class="col-md-3">
            <label for="data" class="label">Data</label>
            <input placeholder="dd/mm/aaaa" id="data" class="form-control" formControlName="data" bsDatepicker #dp="bsDatepicker"  autocomplete="off" ondrop="return false;" required>
            <span class="text-secondary text-danger" *ngIf="criarEventoForm.get('data')?.touched && criarEventoForm.get('data')?.invalid">Campo obrigatório</span>
        </div>

         <div class="col pt-4">
            <button (click)="limpar()" class="btn btn-warning me-2"><i class="fa fa-sign-in"></i> Limpar</button>
            <button type="submit" [disabled]="criarEventoForm.invalid" class="btn btn-success"><i
                    class="fa fa-sign-in"></i> Criar</button>
        </div>
    </div>
</form>

<div class="row py-2">
  <div class="col titulo">
    Todos os Eventos
  </div>
</div>

<div class="flex-container">
  <div class="card" *ngFor="let item of listaEventos">
    <div class="col"><b>{{item.descricao}}</b></div>
    <div class="col">{{item.data}}</div>
    <div class="col">
      <abbr title="Editar"><i class="fa-solid fa-pen-to-square me-3 text-primary active" (click)="editar(item.id)"></i></abbr>
      <abbr title="Excluir"><i class="fa fa-trash text-danger active" (click)="deletar(item.id)"></i></abbr>
    </div>
  </div>
</div>
